body {
	font-family: georgia;
	background-color: #f4f4f4;
	margin: 20px auto;
	width: 80%;
}

header {
	font-size: 60px;
	text-align: center;
	background-color: rgb(66, 139, 202);
	color: #fff;
	padding: 10px 0px;
}

#blog {
    max-width: 70%;
    float: left;
    margin-bottom: 10px;
    line-height: 1.7em;
}

#about p {
	margin: 4px 10px 6px 10px;
	line-height: 1.4em;
}

nav {
	margin-top: 20px;
	float: right;
	width: 30%;
}

nav section {
	margin-bottom: 10px;
	background-color: rgb(227, 236, 243);
	color: rgba(0, 0, 0, 0.7);
	border-radius: 3%;
	width: 100%;
	padding: 2px 2px 2px 2px;
}

nav h1 {
	text-align: center;
}

#social {
	text-align: center;
}

#avatar {
	width: 70%;
	border-radius: 5%;
	margin: 5px 15% 20px 15%;
}

.ads {
	text-align: center;
}

#post-title {
	font-size: 35px;
	font-style:italic
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

blockquote {
    background: url('http://i.imgur.com/VG5N5iW.gif') top left no-repeat;
    background-color: #dadada;
    padding-left: 70px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 10px;
} 

footer{
	font-size: 32px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);
	color: rgba(255, 255, 255, 0.9);
	padding: 60px 5px;
	clear: both;
}

