body{
	font-family: georgia;
	background-color: #f4f4f4;
	margin: 15px auto;
	width: 80%;
}

header{
	font-size: 4em;
	text-align: center;
	background-color: rgb(66, 139, 202);
	color: #fff;
	padding: 5px 5px;
}


#blog {
    max-width: 70%;
    float: left;
    margin-bottom: 10px;
}

#about p{
	margin: 4px 5px 4px 6px;
}

nav {
	margin-top: 10px;
	float: right;
	width: 30%;
}

nav section{
	margin-bottom: 10px;
	background-color: rgb(227, 236, 243);
	color: #000;
	border-radius: 3%;
	width: 100%;
	padding: 2px 2px 2px 2px;
}

nav h1{
	text-align: center;
}

#social{
	text-align: center;
}

img,video {
	max-width: 100%;
}

#avatar{
	width: 60%;
	border-radius: 5%;
	margin: 5px 20%;
}

.ads{
	text-align: center;
}

#post-title{
	font-size: 35px;
	font-style:italic
}

hr {border: 0;
height: 1px;
background: #333;
background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

blockquote {
  background: url('http://i.imgur.com/VG5N5iW.gif') top left no-repeat;
  padding-left: 50px;
  background-color: #dadada;
  padding-left: 70px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 10px;

} 

footer{
	font-size: 20px;
	text-align: center;
	background-color: rgb(66, 139, 202);
	color: #fff;
	padding: 5px 5px;
	clear: both;
}

@media (max-width: 968px){
	#blog {
		max-width: 100%;
	}

	nav {
		display: none;
	}

	blockquote{
	padding-left: 20%;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-right: 5%;
  	margin-right: -5%;
	margin-left: -5%;
	}
}