*{
	margin: 5px auto;
}

body{
	font-family: georgia;
}

.title, .content{
	width: 60%;
	padding: 5px 20px 5px 20px;
}

.title{
	text-align: center;
	font-size: 2.2em;
	line-height: 2em;
	color: white;
	background-color: rgba(0, 0, 240, 0.6);
}

.content{
	font-size: 1.2em;
	line-height: 1.6em;
	background-color: rgb(220, 220, 235);
}
