body html head {
    padding: 0px;
    margin: 0px;
}

.column {
	display: block;
	float: left;
	width: 25%;
}

.rectangle {
	width: 90%;
	height: 256px;
    margin-left: auto;
    margin-right: auto;
	background-color: #3652a4;
	border-radius: 10%;
}

@media (max-width: 1045px) {
  .column {
  	width: 100%;
  	margin: 1% 1% 1% 1%;
  }
  
  .rectangle {
	width: 256px;
	height: 256px;
	background-color: #3652a4;
	border-radius: 10%;
    }
}

