body {
	font-family: georgia;
	text-align: center;
	font-size: 1.5em;
}

img {
	max-width: 100%;
}

@media (max-width: 467px) {
  .desktop {
    display: none;
  }

  .tablet{
  	display: none;
  }
}

@media (min-width: 468px) and (max-width: 768px) {
  .desktop {
    display: none;
  }

  .phone {
    display: none;
  }
}

@media (min-width: 769px) {
  .phone {
    display: none;
  }

  .tablet {
    display: none;
  }
}

